[user]
	name = Demian Ferreiro
	email = epidemian@gmail.com
[core]
	excludesfile = ~/.gitignore
[push]
	default = simple
[alias]
  a = add
	au = add --update
	ap = add --patch
	s = status --short --branch
	ci = commit
	co = checkout
	dc = diff --cached
	l = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(bold magenta)%d%Creset %s %C(dim yellow)(%ar) %C(bold blue)[%an]%Creset' --abbrev-commit --date=short
  mergeff = merge --ff-only	

	serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
	clean-merged = !git branch --merged | grep  -v '^*' | xargs -n 1 git branch -d
	aliases = config --get-regexp 'alias.*'

