[user]
	name = Demian Ferreiro
	email = epidemian@gmail.com
[core]
	excludesfile = ~/.gitignore
	editor = code --wait
[push]
	default = simple
	autoSetupRemote = true
[alias]
	a = add
	au = add --update
	ap = add --patch
	b = branch
	s = status --short --branch
	ci = commit
	co = checkout
	fco = !git branch | fzf | xargs git checkout
	dc = diff --cached
	l = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(bold magenta)%d%Creset %s %C(dim yellow)(%ar) %C(bold blue)[%an]%Creset' --abbrev-commit --date=short
	mergeff = merge --ff-only
	unstage = reset HEAD --
	discard = checkout --
	pr = !sh -c 'git fetch ${2:-origin} pull/$1/head && git checkout -b pr-$1 FETCH_HEAD' -
	serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
	clean-merged = !git branch --merged | grep  -v '^*' | xargs -n 1 git branch --delete
	pf = push --force-with-lease
	praise = blame # Positive alternative :)
	amend = commit --amend --no-edit
	aliases = config --get-regexp 'alias.*'
	gone = !LANG=en git branch --format='%(if:equals=gone)%(upstream:track,nobracket)%(then)%(refname:short)%(end)' | grep .
	prune-local = !git gone | xargs --no-run-if-empty git branch --delete --force
	pull-prune = !git pull --prune && git prune-local
	pp = pull-prune
	ri = rebase --interactive --autosquash --rebase-merges
	ca = commit --all
[init]
	defaultBranch = main
[rebase]
	autoStash = true
[pull]
	ff = only
